<a href="https://colab.research.google.com/github/Hpesantes/SQL-Projects/blob/main/class_1_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello World')

Hello World

PRINT is a FUNCTION ('') < ----- everything inside of the quote is a string. You can use double quotes or singles quotes inisde the parenthesis. Double quotes is sometimes better to use incase your string has a single quote

If you want to execute the lines of code in that cell you can press shift + enter, or PLAY button, or RUNTIME

In order to write text or comment you need to switch to +text

NOTE: Python reads code left to right, top to bottom.

In [ ]:
print(type(int("3")))

<class 'int'>

"3" <--- is a string , INT is a FUNCTION (coverts anything that is not an integer to an integer) , TYPE is a FUNCTION ( the data type)

In [ ]:
print(str(3))

3

STR is a function that coverts any NON string into a STRING

In [ ]:
print(float(3))

3.0

FLOAT (decimal) coverts any NON float into a FLOAT

Exercise 1:
Radius=5, π=3.14, calculate the area of the circle

In [ ]:
3.14*5**2

78.5

Workign with strings
len("word")

*   Word.capitalize()  <---- CAPITALIZE is  not a function, its a METHOD.
*   Word.upper()       <---- UPPER is  not a function, its a METHOD
*   Word.lower()       <---- LOWER is  not a function, its a METHOD
*   Word.title()        <---- TITLE is  not a function, its a METHOD

In [ ]:
Student = input("Are you a Student or a staff member?")
print("You are a",Student)

Are you a Student or a staff member?Student
You are a Student

def = DEFINE
TAB keystroke is an operator

In [ ]:
def C_F(C):
  F = 1.8*C+32
  return F

temp = C_F(20)
print(temp)

68.0

Exercise 3: Create a BMI function and calculate BMI for person1 and person2. BMI = weight/height²

# person1: height:1.65m, weight:60kg
# person2: height:1.75m, weight:75kg

In [ ]:
def BMI(H,W):
  BMI= W/H**2
  return BMI

person1 = BMI(1.65,60)
person2 = BMI(1.75,75)

print(person1)
print(person2)

22.03856749311295
24.489795918367346